<HTML>

<head>
   <title>
      <%= source[0].name %>

   </title>
</head>
<BODY>


<%if (source[0].photo !="") {%>
	<img src="data:image/png;base64, <%= source[0].img.data %>"><br>
<%}%>
            <a href="/rate?restaurant_id=<%=source[0]._id %>"><button type="button">Rate</button></a>
<table>
         <tr><th><H2><%= source[0].name %></H2></th></tr>

         <tr>
            <td>ID:</td>
            <td><%= source[0]._id %></td>
         </tr>


         <% if (source[0].borough!="") { %>
            <tr><td>Borough:</td>
 		<td><%= source[0].borough %></td>
            </tr><%}%>

               <% if (source[0].cuisine!="") { %>
                  <tr>
                     <td>Cuisine:</td>
                     <td>
                        <%= source[0].cuisine %>
                     </td>
                  </tr>
                  <%}%>
		  
                     <% if (source[0].address.street!="") { %>
                        <tr>
                           <td>Street:</td>
                           <td>
                              <%= source[0].address.street %>
                           </td>
                        </tr>

                        <%} if (source[0].address.building!="") { %>
                           <tr>
                              <td>Building:</td>
                              <td>
                                 <%= source[0].address.building %>
                              </td>
                           </tr>

                           <% }if (source[0].address.zipcode!="") { %>
                              <tr>
                                 <td>Zipcode:</td>
                                 <td>
                                    <%= source[0].address.zipcode %>
                                 </td>
                              </tr>
 <%}%>
				<%if(source[0].address.coord.lon)%>
					<td>GPS:[<%=source[0].address.coord.lon%>,<%= source[0].address.coord.lat%>]<td>
					<tr></tr>
				<td>Rating:</td>
				<ul style="list-style-type:disc">
					<%if(source[0].grades)%>
  					<li><td><%=source[0].grades.user%>:<%=source[0].grades.score%></li>
					</ul>
                			<tr>
                                             <td>Created by:</td>
                                             <td>
                                                <%= source[0].owner %>
                                             </td>
                                          </tr>
</table>

   </BODY>
</HTML>


